@media screen and (max-width: 768px) {
.container {
        padding: 0 16px;
    }

    /* Navbar */

    .list-box,
    .button {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    nav .container {
        height: 70px;
    }

    /* Hero */

    .hero {
        padding: 50px 0;
    }

    .hero .row {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    .about {
        max-width: 100%;
    }

    .about h2 {
        font-size: 36px;
    }

    .service-img {
        width: 100%;
        max-width: 320px;
    }

    /* Client */

    .client-logo {
        justify-content: center;
        gap: 25px;
    }

    /* Service */

    .membership-part {
        flex-direction: column;
    }

    .about-membership {
        width: 100%;
    }

    /* Feature Sections */

    .one,
    .three .row,
    .four .row {
        flex-direction: column;
        text-align: center;
    }

    .feat-img,
    .img-pana,
    .tesla {
        width: 100%;
        max-width: 320px;
        margin: auto;
    }

    .one-about,
    .three-about,
    .four-about {
        width: 100%;
    }

    /* Stats */

    .two .container {
        flex-direction: column;
        text-align: center;
    }

    .two-about {
        max-width: 100%;
    }

    .two-box {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .box-data {
        justify-content: center;
    }

    /* Blog */

    .cards-box {
        flex-direction: column;
    }

    .cards {
        width: 100%;
    }

    /* Footer */

    .footer .row {
        flex-direction: column;
    }

    .footer-right {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
    }

    .search-box {
        width: 100%;
        max-width: 320px;
    }
}

